@mixin area ($area){
	grid-area: $area
}


.cont {
	display: grid;
	grid-template-areas: 
	"header header header"
	"titulo titulo titulo"
	"centro centro centro"
	"centro2 centro2 centro2"
	"centro3 centro3 centro3"
	"footer footer footer";
	grid-template-columns: 1fr 1fr 1fr;
}

.cont2 {
	display: grid;
	grid-template-areas: 
	"header header header"
	"titulo titulo titulo"
	"centro centro centro"
	"centro2 centro2 centro2"
	"footer footer footer";
	grid-template-columns: 1fr 1fr 1fr;
}

.cont3 {
	display: grid;
	grid-template-areas: 
	"header header header"
	"titulo titulo titulo"
	"centro centro centro"
	"footer footer footer";
	grid-template-columns: 1fr 1fr 1fr;
}


.over {
	@include area (header);	
}

.titulo {
	@include area (titulo);
}

.background {
	@include area (centro);
}

.conta {
	@include area (centro);
}

.cess {
	@include area (centro);
}

.cess2 {
	@include area (centro2);
}

.cess3 {
	@include area (centro3);
}

.box {
	@include area (footer);
}

/*Grid*/

.cuerpo {
	margin: 0px;
}