.cont {
	display: grid;
	grid-template-areas: 
	"header header header"
	"titulo titulo titulo"
	"centro centro centro"
	"centro2 centro2 centro2"
	"centro3 centro3 centro3"
	"footer footer footer";
	grid-template-columns: 1fr 1fr 1fr;
}

.cont2 {
	display: grid;
	grid-template-areas: 
	"header header header"
	"titulo titulo titulo"
	"centro centro centro"
	"centro2 centro2 centro2"
	"footer footer footer";
	grid-template-columns: 1fr 1fr 1fr;
}

.cont3 {
	display: grid;
	grid-template-areas: 
	"header header header"
	"titulo titulo titulo"
	"centro centro centro"
	"footer footer footer";
	grid-template-columns: 1fr 1fr 1fr;
}


.over {
	grid-area: header;	
}

.titulo {
	grid-area: titulo;
}

.background {
	grid-area: centro;
}

.conta {
	grid-area: centro;
}

.cess {
	grid-area: centro;
}

.cess2 {
	grid-area: centro2;
}

.cess3 {
	grid-area: centro3;
}

.box {
	grid-area: footer;
}

/*Grid*/

.cuerpo {
	margin: 0px;
}